<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RestHourCalc.Properties.Settings.ShipRestCalc" connectionString="server=localhost;User Id=root;Persist Security Info=True;database=resthourcalc;Password = qwerty" />
        <add name="RestHourCalc.Properties.Settings.resthourcalcConnectionString"
            connectionString="server=localhost;User Id=root;password=qwerty;Persist Security Info=True;database=resthourcalc"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>